.banner-img {
  width: 100%;
}
.mobile-banner-img,
.desktop-banner-img {
  composes: banner-img;
}
.desktop-banner-img {
  display: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.container {
  padding-top: 50px;
  width: 85%;
  margin: 0 auto;
  position: relative;
}
.title-and-btn {
  composes: container;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.title {
  font-size: 3rem;
  font-weight: 900;
}
.banner-title {
  composes: title;
  position: absolute;
  left: 10%;
  bottom: 50%;
  color: white;
  transform: translateY(50%);
  display: none;
  font-size: 4rem;
  max-width: 500px;
}
.btn {
  background-color: var(--accent-color);
  color: white;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  align-self: flex-end;
}
.btn:hover {
  cursor: pointer;
  opacity: 0.9;
}
@media (min-width: 800px) {
  .desktop-banner-img {
    display: block;
  }
  .mobile-banner-img {
    display: none;
  }
  .title-and-btn {
    flex-direction: row;
    justify-content: space-between;
  }
  .title {
    width: 50%;
  }
  .banner-title {
    display: block;
  }
}
