.card-container {
  width: 350px;
  height: 450px;
  border: 2px solid white;
  border-radius: 20px;
  margin: 0 auto;
  background-color: white;
}
.container {
  width: 90%;
  margin: 0 auto;
}

.img-container {
  composes: container;
  height: 65%;
}
.card-img {
  width: 100%;
  border-radius: 20px;
  height: 100%;
}
.card-title {
  composes: container;
  margin: 10px auto;
  font-weight: 600;
}
.card-bottom-content {
  composes: container;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}
.card-price {
  composes: container;
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  justify-content: flex-end;
  color: var(--accent-color);
  font-weight: 900;
}
.input-fields {
  width: 100px;
  height: 30px;
  border-radius: 20px;
  border: 1px solid var(--accent-color);
}
.quantity {
  composes: input-fields;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.submit-item {
  composes: input-fields;
  background-color: var(--accent-color);
  color: white;
  text-align: center;
}
.subtract-btn,
.add-btn {
  font-size: 1.3rem;
  color: var(--accent-color);
  font-weight: 900;
  padding: 0;
  background-color: transparent;
  border: none;
}
.subtract-btn {
  margin-left: 8px;
}
.add-btn {
  margin-right: 8px;
}
.subtract-btn:hover,
.add-btn:hover {
  cursor: pointer;
}
.quantity-input {
  text-align: center;
  max-width: 40%;
}

@media (min-width: );
