.card-container {
  width: 350px;
  height: 450px;
  border: 2px solid white;
  border-radius: 20px;
  margin: 0 auto;
  background-color: white;
}
.container {
  width: 90%;
  margin: 0 auto;
}

.img-container {
  composes: container;
  height: 65%;
}
.card-img {
  width: 100%;
  border-radius: 20px;
  height: 100%;
}
.card-title {
  composes: container;
  margin: 10px auto;
  font-weight: 600;
}
.card-bottom-content {
  composes: container;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}
.card-price {
  composes: container;
  display: flex;
  margin-top: 15px;
  justify-content: flex-end;
  color: var(--accent-color);
  font-weight: 900;
}
.quantity {
  width: 100px;
  height: 30px;
  border: 1px solid var(--accent-color);
  border-radius: 20px;
}
.submit-item {
  composes: quantity;
  background-color: var(--accent-color);
  color: white;
}
